
/* Comment styling */
.token.comment {
  color: #7B7B7B;
  font-style: italic;
}

/* Keyword styling */
.token.keyword {
  color: #2AC6FF;
  font-weight: bold;
}

/* String styling */
.token.string {
  color: #ED7CFF;
}

/* Number styling */
.token.number {
  color: #3BC7A6;
}

/* Operator styling */
.token.operator {
  color: #d4d4d4;
}

/* Function styling */
.token.function {
  color: #007BFF;
}

/* CSS class and selector styling */
.token.selector {
  color: #e36209;
}

/* Regular Expression styling */
.token.regex {
  color: #e9b200;
}
